{% extends "master.html" %}
{% load custom_filters %}

{% block title %}
  ویرایش مخاطب
{% endblock %}

{% block content %}
<div class="container mt-5 p-4 shadow-lg rounded bg-light container-list" style="direction: rtl;">
    <h2 class="text-center mb-4">ویرایش مخاطب</h2>
    <form method="post" action="{% url 'contacts:update_contact' contact.id %}">
        {% csrf_token %}
        <h4 style="text-align: center;" class="card-title text-primary mb-3">
            {% if contact.first_name and contact.last_name %}
                {{ contact.first_name }} {{ contact.last_name }}
            {% elif contact.last_name %}
                {{ contact.last_name }}
            {% elif contact.first_name %}
                {{ contact.first_name }}
            {% else %}
                {{ contact.organization }}
            {% endif %}
        </h4>
        <div style="text-align: right;" class="card mb-4">
            <div style="background-color: #155a92; text-align: right;" class="card-header text-white">اطلاعات اصلی</div>
            <div style="text-align: right;" class="card-body">
                <div style="text-align: right;" class="row">
                    <div style="text-align: right;" class="col-md-4 mb-3">
                        <label for="id_first_name">نام</label>
                        <input style="text-align: right;" type="text" name="first_name" value="{{ contact.first_name }}" id="id_first_name" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-4 mb-3">
                        <label for="id_last_name">نام خانوادگی</label>
                        <input style="text-align: right;" type="text" name="last_name" value="{{ contact.last_name }}" id="id_last_name" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-4 mb-3">
                        <label for="id_organization">نام سازمان</label>
                        <input style="text-align: right;" type="text" name="organization" value="{{ contact.organization }}" id="id_organization" class="form-control">
                    </div>
                </div>
                <div style="text-align: right;" class="row">
                    <div style="text-align: right;" class="col-md-4 mb-3">
                        <label for="id_category">دسته‌بندی</label>
                        <input style="text-align: right;" type="text" name="category" value="{{ contact.category }}" id="id_category" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-4 mb-3">
                        <label for="id_business_type">نوع کسب‌وکار</label>
                        <input style="text-align: right;" type="text" name="business_type" value="{{ contact.business_type }}" id="id_business_type" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-4 mb-3">
                        <label for="id_sex">جنسیت</label>
                        <select style="text-align: right;" name="sex" value="{{ contact.sex }}" id="id_sex" class="form-control">
                            <option value="{{ contact.sex }}" selected>انتخاب کنید...</option>
                            <option value="M">مرد</option>
                            <option value="F">زن</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: right;" class="card mb-4">
            <div style="background-color: #155a92; text-align: right;" class="card-header text-white">اطلاعات شماره تلفن</div>
            <div style="text-align: right;" class="card-body" id="phone-container">
                <div style="text-align: right;" class="row phone">
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="id_phone_number_1">شماره</label>
                        <input style="text-align: right;" type="text" name="phone_number_1" value="{{ contact.phone_number_1 }}" id="id_phone_number_1" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-3">
                        <label for="id_phone_number_1_name">نام مخاطب</label>
                        <input style="text-align: right;" type="text" name="phone_number_1_name" value="{{ contact.phone_number_1_name }}" id="id_phone_number_1_name" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-3">
                        <label for="phone_number_1_organizational_position">سمت</label>
                        <input style="text-align: right;" type="text" name="phone_number_1_organizational_position" value="{{ contact.phone_number_1_organizational_position }}" id="phone_number_1_organizational_position" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-3">
                        <label for="id_phone_number_1_ex">داخلی</label>
                        <input style="text-align: right;" type="text" name="phone_number_1_ex" value="{{ contact.phone_number_1_ex }}" id="id_phone_number_1_ex" class="form-control">
                    </div>
                    <div style="text-align: rtl;" class="col-md-3 mb-3">
                        <label for="id_phone_number_1_note">توضیحات</label>
                        <input style="text-align: right;" type="text" name="phone_number_1_note" value="{{ contact.phone_number_1_note }}" id="id_phone_number_1_note" class="form-control">
                    </div>
                    <hr>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="id_phone_number_2">شماره</label>
                        <input style="text-align: right;" type="text" name="phone_number_2" value="{{ contact.phone_number_2 }}" id="id_phone_number_2" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-3">
                        <label for="id_phone_number_2_name">نام مخاطب</label>
                        <input style="text-align: right;" type="text" name="phone_number_2_name" value="{{ contact.phone_number_2_name }}" id="id_phone_number_2_name" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-3">
                        <label for="phone_number_2_organizational_position">سمت</label>
                        <input style="text-align: right;" type="text" name="phone_number_2_organizational_position" value="{{ contact.phone_number_2_organizational_position }}" id="phone_number_2_organizational_position" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-3">
                        <label for="id_phone_number_2_ex">داخلی</label>
                        <input style="text-align: right;" type="text" name="phone_number_2_ex" value="{{ contact.phone_number_2_ex }}" id="id_phone_number_2_ex" class="form-control">
                    </div>
                    <div style="text-align: rtl;" class="col-md-3 mb-3">
                        <label for="id_phone_number_2_note">توضیحات</label>
                        <input style="text-align: right;" type="text" name="phone_number_2_note" value="{{ contact.phone_number_2_note }}" id="id_phone_number_2_note" class="form-control">
                    </div>

                    <hr>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="id_phone_number_3">شماره</label>
                        <input style="text-align: right;" type="text" name="phone_number_3" value="{{ contact.phone_number_3 }}" id="id_phone_number_3" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-3">
                        <label for="id_phone_number_3_name">نام مخاطب</label>
                        <input style="text-align: right;" type="text" name="phone_number_3_name" value="{{ contact.phone_number_3_name }}" id="id_phone_number_3_name" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-3">
                        <label for="phone_number_3_organizational_position">سمت</label>
                        <input style="text-align: right;" type="text" name="phone_number_3_organizational_position" value="{{ contact.phone_number_3_organizational_position }}" id="phone_number_3_organizational_position" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-3">
                        <label for="id_phone_number_3_ex">داخلی</label>
                        <input style="text-align: right;" type="text" name="phone_number_3_ex" value="{{ contact.phone_number_3_ex }}" id="id_phone_number_3_ex" class="form-control">
                    </div>
                    <div style="text-align: rtl;" class="col-md-3 mb-3">
                        <label for="id_phone_number_3_note">توضیحات</label>
                        <input style="text-align: right;" type="text" name="phone_number_3_note" value="{{ contact.phone_number_3_note }}" id="id_phone_number_3_note" class="form-control">
                    </div>

                    <hr>
                    <div style="text-align: right;" class="col-md-3 mb-4">
                        <label for="id_phone_number_4">شماره</label>
                        <input style="text-align: right;" type="text" name="phone_number_4" value="{{ contact.phone_number_4 }}" id="id_phone_number_4" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-4">
                        <label for="id_phone_number_4_name">نام مخاطب</label>
                        <input style="text-align: right;" type="text" name="phone_number_4_name" value="{{ contact.phone_number_4_name }}" id="id_phone_number_4_name" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-4">
                        <label for="phone_number_4_organizational_position">سمت</label>
                        <input style="text-align: right;" type="text" name="phone_number_4_organizational_position" value="{{ contact.phone_number_4_organizational_position }}" id="phone_number_4_organizational_position" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-4">
                        <label for="id_phone_number_4_ex">داخلی</label>
                        <input style="text-align: right;" type="text" name="phone_number_4_ex" value="{{ contact.phone_number_4_ex }}" id="id_phone_number_4_ex" class="form-control">
                    </div>
                    <div style="text-align: rtl;" class="col-md-3 mb-4">
                        <label for="id_phone_number_4_note">توضیحات</label>
                        <input style="text-align: right;" type="text" name="phone_number_4_note" value="{{ contact.phone_number_4_note }}" id="id_phone_number_4_note" class="form-control">
                    </div>

                    <hr>
                    <div style="text-align: right;" class="col-md-3 mb-5">
                        <label for="id_phone_number_5">شماره</label>
                        <input style="text-align: right;" type="text" name="phone_number_5" value="{{ contact.phone_number_5 }}" id="id_phone_number_5" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-5">
                        <label for="id_phone_number_5_name">نام مخاطب</label>
                        <input style="text-align: right;" type="text" name="phone_number_5_name" value="{{ contact.phone_number_5_name }}" id="id_phone_number_5_name" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-5">
                        <label for="phone_number_5_organizational_position">سمت</label>
                        <input style="text-align: right;" type="text" name="phone_number_5_organizational_position" value="{{ contact.phone_number_5_organizational_position }}" id="phone_number_5_organizational_position" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-5">
                        <label for="id_phone_number_5_ex">داخلی</label>
                        <input style="text-align: right;" type="text" name="phone_number_5_ex" value="{{ contact.phone_number_5_ex }}" id="id_phone_number_5_ex" class="form-control">
                    </div>
                    <div style="text-align: rtl;" class="col-md-3 mb-5">
                        <label for="id_phone_number_5_note">توضیحات</label>
                        <input style="text-align: right;" type="text" name="phone_number_5_note" value="{{ contact.phone_number_5_note }}" id="id_phone_number_5_note" class="form-control">
                    </div>

                    <hr>
                    <div style="text-align: right;" class="col-md-3 mb-6">
                        <label for="id_phone_number_6">شماره</label>
                        <input style="text-align: right;" type="text" name="phone_number_6" value="{{ contact.phone_number_6 }}" id="id_phone_number_6" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-6">
                        <label for="id_phone_number_6_name">نام مخاطب</label>
                        <input style="text-align: right;" type="text" name="phone_number_6_name" value="{{ contact.phone_number_6_name }}" id="id_phone_number_6_name" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-6">
                        <label for="phone_number_6_organizational_position">سمت</label>
                        <input style="text-align: right;" type="text" name="phone_number_6_organizational_position" value="{{ contact.phone_number_6_organizational_position }}" id="phone_number_6_organizational_position" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-6">
                        <label for="id_phone_number_6_ex">داخلی</label>
                        <input style="text-align: right;" type="text" name="phone_number_6_ex" value="{{ contact.phone_number_6_ex }}" id="id_phone_number_6_ex" class="form-control">
                    </div>
                    <div style="text-align: rtl;" class="col-md-3 mb-6">
                        <label for="id_phone_number_6_note">توضیحات</label>
                        <input style="text-align: right;" type="text" name="phone_number_6_note" value="{{ contact.phone_number_6_note }}" id="id_phone_number_6_note" class="form-control">
                    </div>

                </div>
            </div>            
        </div>

        <div style="text-align: right;" class="card mb-4">
            <div style="background-color: #155a92; text-align: right;" class="card-header text-white">اطلاعات موبایل</div>
            <div style="text-align: right;" class="card-body" id="mobile-container">
                <div style="text-align: right;" class="row mobile">

                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="id_mobile_number_1">شماره موبایل</label>
                        <input style="text-align: right;" type="text" name="mobile_number_1" value="{{ contact.mobile_number_1 }}" id="id_mobile_number_1" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="id_mobile_number_1_name">نام مخاطب</label>
                        <input style="text-align: right;" type="text" name="mobile_number_1_name" value="{{ contact.mobile_number_1_name }}" id="id_mobile_number_1_name" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="id_mobile_number_1_note">توضیحات</label>
                        <input style="text-align: right;" type="text" name="mobile_number_1_note" value="{{ contact.mobile_number_1_note }}" id="id_mobile_number_1_note" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="mobile_number_1_email">ایمیل</label>
                        <input style="text-align: right;" type="text" name="mobile_number_1_email" value="{{ contact.mobile_number_1_email }}" id="mobile_number_1_email" class="form-control">
                    </div>

                    <hr>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="id_mobile_number_2">شماره موبایل</label>
                        <input style="text-align: right;" type="text" name="mobile_number_2" value="{{ contact.mobile_number_2 }}" id="id_mobile_number_2" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="id_mobile_number_2_name">نام مخاطب</label>
                        <input style="text-align: right;" type="text" name="mobile_number_2_name" value="{{ contact.mobile_number_2_name }}" id="id_mobile_number_2_name" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="id_mobile_number_2_note">توضیحات</label>
                        <input style="text-align: right;" type="text" name="mobile_number_2_note" value="{{ contact.mobile_number_2_note }}" id="id_mobile_number_2_note" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="mobile_number_2_email">ایمیل</label>
                        <input style="text-align: right;" type="text" name="mobile_number_2_email" value="{{ contact.mobile_number_2_email }}" id="mobile_number_2_email" class="form-control">
                    </div>

                    <hr>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="id_mobile_number_3">شماره موبایل</label>
                        <input style="text-align: right;" type="text" name="mobile_number_3" value="{{ contact.mobile_number_3 }}" id="id_mobile_number_3" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="id_mobile_number_3_name">نام مخاطب</label>
                        <input style="text-align: right;" type="text" name="mobile_number_3_name" value="{{ contact.mobile_number_3_name }}" id="id_mobile_number_3_name" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="id_mobile_number_3_note">توضیحات</label>
                        <input style="text-align: right;" type="text" name="mobile_number_3_note" value="{{ contact.mobile_number_3_note }}" id="id_mobile_number_3_note" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="mobile_number_3_email">ایمیل</label>
                        <input style="text-align: right;" type="text" name="mobile_number_3_email" value="{{ contact.mobile_number_3_email }}" id="mobile_number_3_email" class="form-control">
                    </div>

                    <hr>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="id_mobile_number_4">شماره موبایل</label>
                        <input style="text-align: right;" type="text" name="mobile_number_4" value="{{ contact.mobile_number_4 }}" id="id_mobile_number_4" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="id_mobile_number_4_name">نام مخاطب</label>
                        <input style="text-align: right;" type="text" name="mobile_number_4_name" value="{{ contact.mobile_number_4_name }}" id="id_mobile_number_4_name" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="id_mobile_number_4_note">توضیحات</label>
                        <input style="text-align: right;" type="text" name="mobile_number_4_note" value="{{ contact.mobile_number_4_note }}" id="id_mobile_number_4_note" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-3 mb-3">
                        <label for="mobile_number_4_email">ایمیل</label>
                        <input style="text-align: right;" type="text" name="mobile_number_4_email" value="{{ contact.mobile_number_4_email }}" id="mobile_number_4_email" class="form-control">
                    </div>

                </div>
            </div>
        </div>

        <div style="text-align: right;" class="card mb-4">
            <div style="background-color: #155a92; text-align: right;" class="card-header text-white">اطلاعات آدرس</div>
            <div style="text-align: right;" class="card-body" id="address-container">
                <div style="text-align: right;" class="row address">

                    <div style="text-align: right;" class="col-md-10 mb-3">
                        <label for="id_address_1">آدرس</label>
                        <input style="text-align: right;" type="text" name="address_1" value="{{ contact.address_1 }}" id="id_address_1" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-3">
                        <label for="id_postal_code_1">کد پستی</label>
                        <input style="text-align: right;" type="text" name="postal_code_1" value="{{ contact.postal_code_1 }}" id="id_postal_code_1" class="form-control">
                    </div>

                    <hr>
                    <div style="text-align: right;" class="col-md-10 mb-3">
                        <label for="id_address_2">آدرس</label>
                        <input style="text-align: right;" type="text" name="address_2" value="{{ contact.address_2 }}" id="id_address_2" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-3">
                        <label for="id_postal_code_2">کد پستی</label>
                        <input style="text-align: right;" type="text" name="postal_code_2" value="{{ contact.postal_code_2 }}" id="id_postal_code_2" class="form-control">
                    </div>

                    <hr>
                    <div style="text-align: right;" class="col-md-10 mb-3">
                        <label for="id_address_3">آدرس</label>
                        <input style="text-align: right;" type="text" name="address_3" value="{{ contact.address_3 }}" id="id_address_3" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-3">
                        <label for="id_postal_code_3">کد پستی</label>
                        <input style="text-align: right;" type="text" name="postal_code_3" value="{{ contact.postal_code_3 }}" id="id_postal_code_3" class="form-control">
                    </div>

                </div>
            </div>
        </div>

        <div style="text-align: right;" class="card mb-4">
            <div style="background-color: #155a92; text-align: right;" class="card-header text-white">اطلاعات متفرقه</div>
            <div style="text-align: right;" class="card-body" id="misc-container">
                <div style="text-align: right;" class="row">
                    <div style="text-align: right;" class="col-md-10 mb-3">
                        <label for="description">توضیحات</label>
                        <input style="text-align: right;" type="text" name="description" value="{{ contact.description }}" id="description" class="form-control">
                    </div>
                    <div style="text-align: right;" class="col-md-2 mb-3">
                        <label for="fax">فکس</label>
                        <input style="text-align: right;" type="text" name="fax" value="{{ contact.fax }}" id="fax" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-success mt-3">ذخیره</button>
        </div>
    </form>
</div>
<div class="text-center">
    <a href="{% url 'contacts:public_contact_details' pk=contact.id %}" class="btn btn-primary mt-4">بازگشت به جزئیات مخاطب</a>
</div>
<div style="margin-bottom: 50px;"></div>
{% endblock %}