{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="{% static 'Images/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'js/scripts.js' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/persian-datepicker/dist/css/persian-datepicker.min.css">
  <script src="https://cdn.jsdelivr.net/npm/persian-date/dist/persian-date.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/persian-datepicker/dist/js/persian-datepicker.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
{% include "header.html" %}

{% block content %}
{% endblock %}

{% include "footer.html" %}
{% block extra_js %}{% endblock %}
</body>
</html>